a {
    text-decoration: none;
    color: inherit;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {  
    background-color: turquoise;
    padding: 0 5%;
    grid-row: 1 / -1;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    display: grid;
    grid-template-rows: 1fr 5fr auto;
}

.sidebar .menu-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.menu-item .icon {
    height: 2rem;
}

.menu-item .dashboard-icon {
    height: 4rem;
    width: auto;
}

.header {
    background-color: pink;
    grid-column: 2 / -1;    
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 5fr 4fr;
    padding: 1rem;
    gap: 1rem;
}


.search-section {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.search-section > .magnify-icon {
    justify-self: end;
    height: 1.5rem;
    width: auto;
}

.search-section > .search-bar {
    height: 2rem;
    margin: 0 1rem 0 0.5rem;
    border-radius: 50px;
    background-color: rgb(242, 242, 242);
    border: none;
}

.main-content {
    background-color: yellowgreen;
    grid-area: 2 / 2 / 3 / 3;
}