:root {
    --standard-icon-height: 1.7rem;
    --profile-picture-height: 7rem;
    --standard-padding: clamp(1rem, 2vw, 2rem);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {  
    background-color: turquoise;
    padding: var(--standard-padding);
    grid-row: 1 / -1;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    display: grid;
    grid-template-rows: 1.5fr 6fr 3fr 9fr;
    gap: 1rem;
    align-items: center;
}

.sidebar > .menu-section, .dashboard-section {
    display: grid;
    gap: 1rem;
}

.sidebar .dashboard-section {
    font-size: 2rem;
}

.sidebar .menu-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 1rem;
}

.menu-item .icon {
    height: 2.5rem;
    width: auto;
    justify-self: center;
}

.menu-item .dashboard-icon {
    height: 4rem;
}

.header {
    background-color: pink;
    grid-column: 2 / -1;    
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 6fr 4fr;
    padding: 1rem var(--standard-padding);
    gap: 1rem;
    position: relative;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.search-section {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.search-section > .magnify-icon {
    justify-self: end;
    height: var(--standard-icon-height);
    width: auto;
}

.search-section > .search-bar {
    height: 2rem;
    border-radius: 50px;
    background-color: rgb(242, 242, 242);
    border: none;
    padding: 0.5rem 1rem;
}

.profile-section {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4rem;
    padding-right: 4rem;
}

.profile-section .noti-icon {
    height: var(--standard-icon-height);
    width: auto;
}

.profile-picture {  
    width: var(--profile-picture-height); 
    height: var(--profile-picture-height); 
    border-radius: 50%;
    object-fit: cover; 
    object-position: center; 
    overflow: hidden; 
}

.profile-section .user-name {
    font-size: 24px;
}

.main-content {
    background-color: yellowgreen;
    grid-area: 2 / 2 / 3 / 3;
}