:root {
    --standard-icon-height: 1.7rem;
    --profile-picture-width: 7rem;
    --card-shadow: 1.0px 1.9px 1.9px hsl(0deg 0% 0% / 0.47);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
}

.sidebar {  
    background-color: turquoise;
    padding: 2rem;
    grid-row: 1 / -1;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    display: grid;
    grid-template-rows: 1.5fr 6fr 3fr 9fr;
    gap: 1rem;
    align-items: center;
}

.sidebar > .menu-section, .dashboard-section {
    display: grid;
    gap: 1rem;
}

.sidebar .dashboard-section {
    font-size: 2rem;
}

.sidebar .menu-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 1rem;
}

.menu-item .icon {
    height: 2.5rem;
    width: auto;
    justify-self: center;
}

.menu-item .dashboard-icon {
    height: 4rem;
}

.header {
    background-color: pink;
    grid-column: 2 / -1;    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 6fr 4fr;
    padding: 1rem 5%;
    gap: 1rem;
    position: relative;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.search-section {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.search-section > .magnify-icon {
    justify-self: end;
    height: var(--standard-icon-height);
    width: auto;
}

.search-section > .search-bar {
    height: 2.5rem;
    border-radius: 50px;
    background-color: rgb(242, 242, 242);
    border: none;
    padding: 0.5rem 1rem;
}

.profile-section {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4rem;
    padding-right: 4rem;
}

.profile-section .noti-icon {
    height: var(--standard-icon-height);
    width: auto;
}

.profile-picture {  
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; 
    object-position: center; 
    overflow: hidden; 
}

.profile-section .user-name {
    font-size: 1.5rem;
}

.intro-section {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
}

.intro-section .profile-picture {
    grid-row: 1 / -1;
}

.intro-section p {
    font-size: 1.5rem;
    margin: 0;
    align-self: center;
}

.intro-section h1 {
    grid-column: 2 / -1;
    margin: 0;
    align-self: start;
}

.buttons-section {
    align-self: center;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
}

.buttons-section > button {
    background-color: rgba(67, 149, 255, 0.661);
    color: white;
    font-size: 1.4rem;
    padding: 0.8rem 1.7rem;
    border-radius: 30px;
    border: 0;
}

.main-content {
    background-color: yellowgreen;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr 1fr;
    padding: 3rem;
    gap: 3rem;
}

.main-content h1 {
    margin: 0 0 0.5rem 0;
}

.main-content .projects-section {
    display: grid;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    grid-template-rows: auto 1fr;
}

.cards-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.card {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.card h3, p {
    margin: 0 0 1rem 0;
}

.card .icons-container {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.card .icon {
    height: var(--standard-icon-height);
    width: auto;
}


.card,
.announcements-container,
.trending-container {
    background-color: white;
    border-radius: 16px;
    box-shadow: var(--card-shadow);
}

.card,
.announcements-container {
    padding: 3rem;
}

.main-content .announcements-section,
.main-content .trending-section {
    display: grid;
    grid-template-rows: auto 1fr;
}

.main-content .announcements-section {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.main-content .trending-section {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

